.sidebar {
  width: 210px;
  background: linear-gradient(10deg, #000000, #070020);
  padding: 20px;
  border-right: 1px solid #333;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: calc(100vh - 60px);
  /* Alto del viewport menos la altura del navbar */
  position: fixed;
  top: 60px;
  /* justo abajo del navbar */
  left: 0;
  overflow-y: auto;
  user-select: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: transform 0.3s ease-in-out;
  z-index: 200;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.hidden {
  transform: translateX(-100%);
}

.show {
  transform: translateX(0);
}

.navSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #1db954;
  margin-bottom: 20px;
  user-select: none;
}

.navItem {
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 14px 18px;
  color: #ccc;
  text-decoration: none;
  font-size: 18px;
  gap: 12px;
  transition: color 0.7s, background 0.5s;
}

.navItem:hover {
  color: white;
  background: rgb(83, 78, 78);
}

.navTitle {
  font-size: 12px;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}

.genreTags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: flex-start;
}

.genreTag {
  padding: 6px 12px;
  margin: 4px;
  border-radius: 20px;
  background-color: #444;
  color: white;
  font-size: 13px;
  display: inline-block;
  user-select: none;
}

/* Ejemplos de géneros: */
.rock {
  background: #e74c3c;
}

.pop {
  background: #9b59b6;
}

.kpop {
  background: #27ae60;
}

.made-for-you {
  background: #3498db;
}

.others {
  background: #34495e;
}

.playlistButton {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 18px;
  background-color: #333;
  color: white;
  border-radius:40px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: background 0.3s ease;
}

.playlistButton:hover {
  background-color: #444;
}

.playlistButton .material-symbols-outlined {
  font-size: 24px;
}

.separator {
  border-top: 1px solid #333;
  margin: 16px 0;
  opacity: 0.5;
}

/* Responsive */



@media (max-width: 768px) {
  .sidebar {
    width: 80%;
    max-width: 280px;
    height: 80vh;
    /* Ocupa todo el alto en móvil */
    top: 0;
    /* Empieza en el tope de la pantalla para cubrir todo */
    left: 0;
    margin-top: 50px;
    z-index: 100;
    /* Por encima de navbar */
  }
}