/* --- Layout General --- */
.container {
  display: flex;
  height: 100vh;
  background: linear-gradient(57deg, #070020, #000000);
  color: white;
  user-select: none;
  overflow: hidden;
  flex-direction: row;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 120px;
  overflow-y: auto;
  margin-left: 300px; /* ancho sidebar */
  margin-top: 60px; /* alto navbar */
  transition: margin-left 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}

/* Lista de artistas */
.artistList {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

.artistItem {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  padding: 12px 16px;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  /* max-width: 500px; */
  width: 100%;
}

.artistItem:hover {
  background: #1f2937;
}

.avatarContainer {
  flex-shrink: 0;
}
/* En ArtistasPages.module.css */
.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #4ade80;
  box-shadow: 0 0 5px rgba(34, 197, 94, 0.5);
  object-fit: cover;
  background: linear-gradient(50deg, #3604e9, #000000);
  display: block;
}

.artistInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc(100% - 106px); /* para evitar overflow (90px + 16 gap) */
}

.artistName {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 4px;
}

.songCount {
  font-size: 14px;
  color: #9ca3af;
  margin: 2px 0;
}

.h1 {
  font-size: 4vh;
  margin-left: 3%;
  margin-bottom: 20px;
}

/* --- Responsive --- */
@media (max-width: 1024px) {
  .mainContent {
    margin-left: 240px; /* sidebar más pequeño en tablet */
    margin-top: 60px;
    padding: 16px 16px 160px; /* más espacio abajo en móvil */
  }
  .artistItem {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
  }
  .mainContent {
    margin-left: 0;
    margin-top: 60px; /* mantener margen para navbar */
    padding: 16px 16px 160px; /* más espacio abajo en móvil */

  }
  .artistList {
    gap: 24px;
    justify-content: center;
  }
  .artistItem {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 16px 12px;
    text-align: center;
  }
  .avatar {
    width: 120px;
    height: 120px;
  }
  .artistInfo {
    max-width: 100%;
    margin-top: 8px;
  }
  .artistName {
    font-size: 24px;
  }
  .songCount {
    font-size: 16px;
  }
  .h1 {
    font-size: 6vw;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
   .mainContent {
    margin-left: 0;
    margin-top: 60px;
    padding: 16px 16px 160px; /* más espacio abajo en móvil */
  }
  .artistItem {
    padding: 12px 8px;
  }
  .avatar {
    width: 100px;
    height: 100px;
  }
  .artistName {
    font-size: 20px;
  }
  .songCount {
    font-size: 14px;
  }
}
