.container {
    display: flex;
    height: 100vh;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column; /* para que el search quede arriba y el contenido abajo */
    background: #000;
    color: white;

    user-select: none;           /* Evita selección de texto */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.albumSection {
    padding: 30px;
    flex: 1;
    overflow-y: auto;
    padding-bottom: 120px;
}

.albumHeader {
    display: flex;
    align-items: end;
    gap: 24px;
    margin-bottom: 32px;
}

.albumCover {
    width: 30%;
    height: 256px;
    background-size: cover;
    background: linear-gradient(50deg, #070020, #000000);
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.8);
}

.albumDetails {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 8px;
}

.artistBadge {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.verifiedIcon {
    width: 24px;
    height: 24px;
    background: #22c55e;
    border-radius: 50%;
}

.albumTitle {
    font-size: 90px;
    font-weight: 500;
    line-height: 0.9;
}

/* Track List */
.trackList {
    margin-top: 32px;
}

.trackItem {
    display: grid;
    grid-template-columns: 48px 1fr 96px;
    gap: 16px;
    padding: 8px 16px;
    border-radius: 6px;
}

.trackItem:hover {
    background: #1f2937;
}

.trackPlayBtn {
    display: none;
}

.trackItem:hover .trackNumber span {
    display: none;
}

.trackItem:hover .trackPlayBtn {
    display: block;
}
